<section class="block container">
  <header class="block__header">
    <h2>Host on the cloud to keep growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, qui.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        dicta, placeat, doloremque odio dignissimos laborum laudantium, vero
        commodi fuga perspiciatis velit iste.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        dicta, placeat, doloremque odio dignissimos laborum laudantium, vero
        commodi fuga perspiciatis velit iste.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Fat Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        dicta, placeat, doloremque odio dignissimos laborum laudantium, vero
        commodi fuga perspiciatis velit iste.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img class="feature__image" src="images/support.jpg" alt="" />
  </article>
</section>
