<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="profile picture of testimoniary" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use xlink:href="icons/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti
        excepturi tempora enim quod! Placeat non necessitatibus illo eveniet
        cum? Quia!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__header quote__author">Mario Petrov</h3>
            <p class="quote__description">Shamazon</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
